*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}

.sketch-container {
  width: 768px;
  height: 200px;
  margin: 20px;
  background-color: #ffa500;
}

.game-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

#game {
  background-color: #808080;
  height: 550px;
  width: 600px;
}

.grid-item {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
}

#game-tools {
  height: 550px;
  width: 100px;
  background-color: #000000;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.game-tool {
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f0ffff;
}

.game-tool:hover {
  transform: scale(1.1) rotate(-20deg);
  background-color: #ffa500;
}

.game-tool.picked {
  transform: scale(1.2) rotate(-20deg);
}

.picked {
  background-color: #ffa500;
}


.selectItem {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tool {
  color: #000000;
  font-size: 40px;
}

#color-picker {
  width: 75%;
  height: 75%;
}
